

body {
  font-family: Roboto, sans-serif;
  font-size: 3vw;
  text-decoration: none;
  line-height: 2em;
}

.contents{
    margin: 4vw;
}

div.intro {
  font-family: 'Dosis', sans-serif;
  text-align: center;
  letter-spacing: 0.3em;
}

div.bar img {
  position: relative;
  top: -20px;
  margin-bottom: -100px;
}

div.bar span{
  font-family: 'Dosis', sans-serif;
  font-size: 4vw;
  position: relative;
  top: -50px;
  letter-spacing: 0.3em;
}

div.bar {
  background: rgb(1, 87, 130);
  color: white;
}

div.logo {
  text-align: center;
}

li {
  color: rgb(255,255,255);
  background: rgb(1, 87, 130);
  border-radius: 5px;
  padding: 15px;
  margin: 15px;
}

ul.sums li{
  color: rgb(20, 20, 20);
  background: rgb(255,255,200);
}

ul.ctrl li{
  background: white;
  border-radius: 1px;
  border-color: black;
  border-style: solid;
  color: black;
}

a {
    text-decoration: inherit;
    color: inherit;
    cursor: auto;
}

li input {
  font-family: Roboto, sans-serif;
  font-size: 3vw;
  width: 2em;
  margin-left: 1em;
}

li button {
  font-family: Roboto, sans-serif;
  font-size: 3vw;
  background: transparent;
  color: white;
  width: 2em;
  margin-left: 1em;
}
