html
  head
    title label
  body
    h3= 'When have you lost track on ' + label + '?'
    div
      ul
        li
          a(href='?aleste=1d') Yesterday
        li
          a(href='?aleste=7d') Last Week
        li
          a(href='?aleste=30d') Last Month
        li
          a(href='?aleste=300d') I need the whole picture
