html
  head
    link(href="/apple-touch-icon.png" rel="apple-touch-icon" sizes="180x180")
    link(rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png")
    link(rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png")
    link(rel="manifest" href="/manifest.json")
    link(rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5")
    meta(name="theme-color" content="#ffffff")
    link(href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet")
    link(link href="https://fonts.googleapis.com/css?family=Dosis" rel="stylesheet")
    style
      include aleste.css
    if model.tag === undefined
      title Aleste
    else
      title= 'Aleste on \"' + model.tag.label + '\"'
  body
    if model.tag === undefined
      div(class="intro")
        h1 Aleste
        div(class="logo")
          img(class="logo" src="/android-chrome-192x192.png")
      p Aleste is a friendly bot that will try and help to bring you up to speed on some or many journalistically covered topics
      h3 Pick up from when?
    else
      h3= 'Show highlights on \"' + model.tag.label + '\" since'
    ul
      li
        a(href='?aleste=1d') Yesterday
      li
        a(href='?aleste=7d') Last Week
      li
        a(href='?aleste=30d') Last Month
      li(class="ask")
        form(action="", method="GET")
          label(for='aleste') This number of days ago:
          input#name.form-control(type='text', placeholder='' name='aleste')
          button.btn.btn-primary(type='submit') Go!
      li
        a(href='?aleste=300d') I really need the whole picture
