html
  head
    link(href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet")
    style
      include aleste.css
    if model.tag === undefined
      title Aleste
    else
      title= 'Aleste on \"' + model.tag.label + '\"'
  body
    if model.tag === undefined
      div(class="intro")
        h1 Aleste
        div(class="logo")
          img(class="logo" src="/android-chrome-192x192.png")
      p Aleste is a friendly bot that will try and help to bring you up to speed on some or many journalistically covered topics
      h3 Pick up from when?
    else
      h3= 'Show highlights on \"' + model.tag.label + '\" since'
    ul
      li
        a(href='?aleste=1d') Yesterday
      li
        a(href='?aleste=7d') Last Week
      li
        a(href='?aleste=30d') Last Month
      li(class="ask")
        form(action="", method="GET")
          label(for='aleste') This number of days ago:
          input#name.form-control(type='text', placeholder='' name='aleste')
          button.btn.btn-primary(type='submit') Go!
      li
        a(href='?aleste=300d') I really need the whole picture
