html
  head
    link(href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet")
    style
      include aleste.css
    title Aleste
  body
    h3= 'Most relevant topics in the last ' + model.elapsedTimeString
    ul
      if model.tags === undefined || model.tags.length == 0
        li Nothing happened
      else
        each tag in model.tags
          li
            a(href='tag/'+tag.code+'?aleste='+model.aleste)= tag.label + ' (' + tag.articleCount + ')'
    ul(class="ctrl")
      li
        a(href='/') Change time selection
