html
  head
    title Aleste
  body
    h3= 'Most relevant topics in the last ' + model.elapsedTimeString
    ul
      if model.tags === undefined || model.tags.length == 0
        li Nothing happened
      else
        each tag in model.tags
          li
            a(href='tag/'+tag.code+'?aleste='+model.aleste)= tag.label + ' (' + tag.articleCount + ')'
    ul
      li
        a(href='/') Change time selection
