html
  head
    link(href="/apple-touch-icon.png" rel="apple-touch-icon" sizes="180x180")
    link(rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png")
    link(rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png")
    link(rel="manifest" href="/manifest.json")
    link(rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5")
    meta(name="theme-color" content="#ffffff")
    link(href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet")
    link(link href="https://fonts.googleapis.com/css?family=Dosis" rel="stylesheet")
    style
      include aleste.css
    title Aleste
  body
    div(class="bar")
      a(href="/")
        img(src="/mstile-150x150.png")
        span Aleste
    div(class="contents")
      h3= 'Most relevant topics in the last ' + model.elapsedTimeString
      ul
        if model.tags === undefined || model.tags.length == 0
          li Nothing happened
        else
          each tag in model.tags
            li
              a(href='tag/'+tag.code+'?aleste='+model.aleste)= tag.label + ' (' + tag.articleCount + ')'
      ul(class="ctrl")
        li
          a(href='/') Change time selection
